html {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

:root {
    --color-background: #242422;
    --font-color: #a1624c;
    --font-color2: #fff;
    --font-color3: #867a76;
    --font-color4: #fbf6e5;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--color-background);
}

#main {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(80px, auto);

}

/* SECTION ONE */
.navbar {
    grid-column: 1 / 9;
    grid-row: 1 / 1;
    display: grid;
    grid-template-columns: 25% 70% 5%;
    margin: 0px 50px;
}

.navbar div {
    height: inherit;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo img {
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 25px
}

.menu ul li {
    padding: 0px 15px;
    letter-spacing: 1px;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: var(--font-color3);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.menu ul li a:hover {
    text-decoration: none;
    color: var(--font-color);
}

.toggle-icon {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.toggle-icon img {
    height: 40px;
    width: 40px;
}

.pop-up {
    display: none;
    margin-top: 4px;
}


/* SECTIION  ONE END    */


/* SECTION TWO       */

.hero {
    grid-column: 1 / 9;
    grid-row: 2 / 8;
    margin: 5px 30px;
    z-index: -2;
}

.hero video {
    object-fit: fill;
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
}

.content {
    grid-row: 4 / 6;
    grid-column: 2 / 7;
}

.head-line {
    position: absolute;
    top: 250px;
    padding: 0px 80px;
}

.head-line h1 {
    color: var(--font-color2);
    font-size: 36px;
    width: 100%;
}

.head-line p {
    color: var(--font-color2);
    font-size: 18px;


}

.head-line button {
    font-size: 14px;
    padding: 20px 40px;
    color: var(--font-color2);
    background-color: var(--font-color);
    border: 2px solid var(--font-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.head-line button:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--font-color);
    cursor: pointer;

}

/* SECTION TWO END */

/* SECTION THREE  */

.booking-btn {
    grid-column: 8 / 9;
    grid-row: 6 / 8;
    display: grid;
    margin: 5px;
    width: 210px;

}

.booking-btn button {
    margin: 10px 10px;
    font-size: 14px;
    padding: 20px 10px;
    color: var(--font-color2);
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid var(--font-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.booking-btn button:hover {
    background-color: var(--font-color);
    cursor: pointer;
}

.booking-btn button a {
    text-decoration: none;
    color: var(--font-color2);
}

/* SECTION THREE END */

/* SECTION FOUR  */

.banquets {
    grid-column: 1 / 9;
    grid-row: 9 / 17;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px auto);

}

.banquet-head-line {
    grid-column: 1 / 9;
    grid-row: 1 / 1;
    text-align: center;
    padding: 0px 20px;
}

.banquet-head-line p {
    font-size: 18px;
    color: var(--font-color3);
}

.banquet-head-line h1 {
    font-size: 44px;
    color: var(--font-color4);
}

.hotel {
    grid-column: 1 / 9;
    grid-row: 2 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);

}

.hotel-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
}

.hotel-detail h3 {
    text-align: center;
    color: var(--font-color4);
    letter-spacing: 1px;
}

.img_hiwi {
    height: 100px;
    width: 200px;
}

.inlne {
    display: flex;
    flex-direction: row;
}

.inlne p a {
    text-decoration: none;
    color: var(--font-color);

}

.inlne p strong {
    color: var(--font-color4);
}

.div7 {
    /* border: 1px solid green; */
    grid-column: 1 / 9;
    grid-row: 5 / 8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px auto);
}

/* SECTION FOUR END  */

/* SECTION FIVE  */
.gifts {
    grid-column: 1 / 9;
    grid-row: 18 / 26;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px, auto);
    margin: 15px 50px;

}

.gifts-div {
    z-index: -1;
    position: absolute;
    height: 600px;
    width: 700px;
    background-color: #2c2a28;
    transform: translate(-40px, -40px);
    -webkit-transform: translate(-40px, -40px);
    -moz-transform: translate(-40px, -40px);
    -ms-transform: translate(-40px, -40px);
    -o-transform: translate(-40px, -40px);
}

.gifts-img img {
    height: 600px;
    width: 700px;
}

.gifts-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    color: var(--font-color3);
    padding: 5px;
}

.gifts-detail h4 {
    font-size: 18px;
    letter-spacing: 2px;

}

.gifts-detail h1 {
    text-align: center;
    font-size: 36px;
    letter-spacing: 2px;

}

.gifts-detail p {
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;

}

.gifts-detail button {
    margin: 10px 10px;
    font-size: 14px;
    padding: 25px 40px;
    background-color: transparent;
    color: var(--font-color);
    border: 2px solid var(--font-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.gifts-detail button:hover {
    background-color: var(--font-color);
    color: var(--font-color2);
}

/* SECTION FIVE END */

/* SECTION SIX  */
.meal-parallax {
    grid-column: 1 / 9;
    grid-row: 26 / 31;
    background-image: url(../img/parallax.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(100%);
    margin: 150px 0px;
    -webkit-filter: brightness(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--font-color4);
    padding: 0px 20px;


}

.meal-parallax h4 {
    font-size: 18px;
    letter-spacing: 2px;
}

.meal-parallax h1 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
}

.meal-parallax button {
    margin: 10px 10px;
    font-size: 14px;
    padding: 25px 40px;
    background-color: var(--font-color);
    color: var(--font-color2);
    border: 2px solid var(--font-color);
    letter-spacing: 1px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.meal-parallax button:hover {
    background-color: transparent;
    color: var(--font-color2);
}

/* SECTION SIX END */

/* SECTION SEVEN  */
.about {
    grid-column: 1 / 9;
    grid-row: 35 / 44;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: minmax(100, auto);
}

.about-header {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.about-header h4 {
    font-size: 18px;
    color:var(--font-color3);
    letter-spacing: 2px;
}

.about-header h1 {
    font-size: 36px;
    color:var(--font-color4);
    letter-spacing: 2px;
}

.stories {
    grid-column: 1 / 9;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img_hiwi2 {

    width: 350px;
}

.stories div {
    width: 350px;
    margin: 0px 30px;
    background-color: #2c2a28;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

.itally {
    display: grid;
    align-items: center;

}

.itally h2 {
    text-align: center;
    font-size: 18px;
    color:var(--font-color4);
    letter-spacing: 2px;
}

.itally p {
    text-align: center;
    color:var(--font-color3);
    letter-spacing: 1px;
}

.itally p a {
text-decoration: none;
color: var(--font-color);
}



/* SECTION SEVEN END */

/* SECTION EIGHT */

.restaurants {
    grid-column: 1 / 9;
    grid-row: 44 / 50;
    background-image: url(../img/parallax2.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(100%);
    margin: 150px 0px;
    -webkit-filter: brightness(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--font-color4);
    padding: 0px 20px;
}
.restaurants h4 {
    font-size: 18px;
    letter-spacing: 2px;
}

.restaurants h1 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
}
.restaurants p{
    text-align: center;
    font-size: 18px;
}
.restaurants button {
    margin: 10px 10px;
    font-size: 14px;
    padding: 25px 40px;
    background-color: var(--font-color);
    color: var(--font-color2);
    border: 2px solid var(--font-color);
    letter-spacing: 1px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.restaurants button:hover {
    background-color: transparent;
    color: var(--font-color2);
}

/* SECTION EIGHT END */

/* SECTION NINE */

.footer {
    grid-column: 1 / 9;
    grid-row: 53 / 60;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px auto);

}
.contacts-logo{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 10% 10% 80%;
    margin: 20px 100px;
}
.contacts-logo img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.contacts{
    display: flex;
    flex-direction: row;
    align-items: center;
    
 
}
.contacts input{
    margin: 0px 20px;
height: 40px;
width: 50%;
color: var(--font-color);
background-color: #2c2a28;
border: 2px solid var(--font-color);
padding: 6px 20px;
font-size: 16px;
}

.contacts-logo button{
    height: 55px;
    width: 50%;
    margin: 0px 20px;
    font-size: 14px;
    background-color:  transparent;
    color: var(--font-color2);
    border: 2px solid var(--font-color);
    letter-spacing: 1px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    }
    .contacts-logo button:hover{
        background-color: var(--font-color);
        color: var(--font-color2);
    }
.address{
    grid-column: 1 / 9;
    grid-row: 2 / 6;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-auto-rows: minmax(150px, auto);
    margin: 5px 50px;
}
.sequence{
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.5px;
}
.sequence:nth-child(1){
    padding: 10px 40px;
}
.sequence h2{
    color: var(--font-color4);
}
.sequence p{
    color: var(--font-color3);
}
.sequence a{
    padding: 5px;
    text-decoration: none;
    color: var(--font-color);
}
.sequence a span{
    color: var(--font-color3);
}
.social-website{
    grid-column: 1 / 9;
    grid-row: 7 / 9;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.social-media{
    grid-column: 1 / 9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.social-media a{
    padding: 40px 15px;
    font-size: 25px;
    color: var(--font-color);
}
.copy-right{
    grid-column: 1 / 9;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--font-color3);
}
/* SECTION NINE END */

/* RESPONSIVE  */
@media only screen and (max-width:1160px){
    .img_hiwi2 {
        width: 300px;
    }

    .stories div {
        width: 300px;
    }
}
@media only screen and (max-width:1090px) {
    .gifts {
        grid-column: 1 / 9;
        grid-row: 18 / 26;
        display: flex;
        flex-direction: column;
        margin: 15px 50px;

    }

    .gifts-div {
        display: none;

    }

    .gifts-img img {
        height: 90%;
        width: 100%;
    }
    .contacts-logo{
        margin: 20px 10px;
    }
.address{
    margin: 20px 5px;
}

}
@media only screen and (max-width:960px){
    .contacts-logo{
        display: flex;
        flex-direction: column;
    }
    .contacts{
        display: flex;
        flex-direction: column;
    }
    .contacts input{
        position: relative;
        left: 0;
        width: 90%;
        margin: 20px 20px;
    }
    .address{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .sequence img{
        width: 100%;
        height: 100%;
    }
.sequence:nth-child(5){
    height: 100px;
}
}

@media only screen and (max-width:1052px) {
    .navbar {
        grid-column: 1 / 9;
        grid-row: 1 / 1;
        display: grid;
        grid-template-columns: 20% 70% 10%;
        margin: 0px 0px;
    }

    .menu ul li {
        padding: 0 10px;
        letter-spacing: 1px;
        list-style: none;
    }

    .head-line h1 {
        font-size: 34px;
    }

    .img_hiwi2 {
        width: 260px;
    }

    .stories div {
        width: 260px;
    }

}

@media only screen and (max-width: 910px) {
    .navbar {
        margin: 0 40px;
    }

    .menu ul {
        display: none;
    }

    .toggle-icon {
        display: flex;
    }

    .pop-up {
        grid-row: 2 / 6;
        grid-column: 3 / 7;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 10px 10px 25px 25px;
        ;
        -webkit-border-radius: 10px 10px 25px 25px;
        -moz-border-radius: 10px 10px 25px 25px;
        -ms-border-radius: 10px 10px 25px 25px;
        -o-border-radius: 10px 10px 25px 25px;
    }

    .pop-up li {
        margin-top: 30px;
        list-style: none;
        text-align: left;
    }

    .pop-up li a {
        color: var(--font-color);
        text-decoration: none;

    }

    #menulist {
        overflow: hidden;
        transition: 500ms;
    }



    .section2 video {
        height: 500px;

    }

    .head-line {
        top: 300px;
    }

    .head-line h1 {
        font-size: 30px;
    }

    .head-line p {
        font-size: 16px;

    }

    .head-line button {
        padding: 15px 35px;
    }

    .booking-btn {
        display: none;
    }

    .div7 {
        display: none;
    }

    .hotel {
        display: flex;
        flex-direction: column;
    }

    .gifts-detail {
        margin: 40px;
    }
    .stories{
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        
    }
    .img_hiwi2 {
        width: 600px;
        height: 400px;
    }

    .stories div {
        width: 600px;
        margin: 10px;

    }

}
@media only screen and (max-width:620px){
    .img_hiwi2 {
        width: 500px;
        height: 400px;
    }

    .stories div {
        width: 500px;
        margin: 10px;

    }
}
@media only screen and (max-width:590px) {
    .section2 {
        margin: 5px 20px;
    }

    .pop-up {
        grid-column: 2 / 8;
    }

    .head-line {
        padding: 0px 40px;
    }

    .head-line h1 {
        font-size: 26px;
        text-align: center;
    }

    .head-line p {
        font-size: 14px;
        text-align: center;

    }

    .head-line {
        text-align: center;
    }

    .head-line {
        margin: 0px 20px;
    }

    .gifts-detail {
        margin: 30px;
    }
    .img_hiwi2 {
        width: 400px;
        height: 400px;
    }

    .stories div {
        width: 400px;
        margin: 10px;

    }

}

@media only screen and (max-width:430px) {
    .section2 {
        margin: 5px 10px;
    }

    .head-line {
        margin: 0px 10px;
    }

    .gifts-detail {
        margin: 20px;
    }

    .gifts-detail h1 {
        font-size: 30px;
    }

    .gifts {
        margin: 15px 30px;
    }
    .img_hiwi2 {
        width: 300px;
        height: 200px;
    }

    .stories div {
        width: 300px;
        margin: 10px;

    }


}

@media only screen and (max-width:380px) {
    .section2 {
        margin: 5px 5px;
    }

    .pop-up {
        margin-left: -5px;
        margin-right: -5px;
    }

    .head-line {
        margin: 0px 2px;
    }

    .head-line h1 {
        font-size: 24px;
    }

    .head-line p {
        font-size: 14px;

    }

    .head-line button {
        padding: 13px 18px;
        font-size: 14px;
    }

    .gifts-detail {
        margin: 10px;
    }

    .gifts {
        margin: 15px 20px;
    }
    .img_hiwi2 {
        width: 250px;
        height: 150px;
    }

    .stories div {
        width: 250px;
        margin: 10px;

    }
}

@media only screen and (max-width: 300px) {
    .hotel-detail {
        padding: 15px 5px;
    }

    .gifts-detail {
        margin: 5px;
    }

    .gifts {
        margin: 15px 10px;
    }

    .meal-parallax {
        padding: 0px 0px;
    }

}

@media only screen and (max-width: 286px) {
    .hotel-detail {
        padding: 15px 0px;
    }

    .gifts {
        margin: 15px 5px;
    }
}